<?xml version="1.0"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>  
  </startup>

  <appSettings>
    <add key="isSaveQuote" value="True"/>
    <add key="isCloseTc" value="False"/>
    <add key="accounts" value="1999_2-0000049;1999_2-0000051"/>
  </appSettings>
  
</configuration>
